module.exports = {
  root: true,
  parser: '@typescript-eslint/parser',
  plugins: [
    "typescript-sort-keys"
  ],
  env: {
    es6: true,
    node: true,
  },
  extends: ["plugin:typescript-sort-keys/recommended"],
  parserOptions: {
    ecmaVersion: 'latest',
    sourceType: 'module',
  },
  rules: {
    '@typescript-eslint/no-unused-vars': 'off',
    '@typescript-eslint/no-duplicate-enum-values': 'off',
    '@typescript-eslint/no-namespace': 'off',
  },
}
