{
  "root": true,
  "name": "test-node-{{TEST_NODE_MAJOR_VERSION}}",
  "license": "ISC",
  "scripts": {
    "link-pkg": "yarn -s link eslint-plugin-typescript-sort-keys || echo '⚠️ Run yarn link in root package'",
    "lint-fix": "yarn -s eslint --fix index.ts",
    "lint-original-file": "OUT=$(yarn -s eslint index-original.ts); CODE=$?; echo $OUT > lint.out && exit $CODE",
    "lint-fixed-file": "yarn -s eslint index.ts &> /dev/null",
    "setup": "yarn -s install && yarn -s link-pkg"
  },
  "dependencies": {
    "@typescript-eslint/parser": "*",
    "eslint-plugin-typescript-sort-keys": "file:../../../../",
    "eslint": "*",
    "typescript": "*"
  },
  "engines": {
    "node": "^{{TEST_NODE_MAJOR_VERSION}}"
  },
  "volta": {
    "node": "{{TEST_NODE_VERSION}}",
    "yarn": "1.22.19"
  }
}
